body
    ul(class="navbar")
        li 
            a(href="/", data-hover="Home") Home
        li 
             a(href="/bans", data-hover="Bans") Bans
        li 
             a(href="/stats", data-hover="Statistics") Statistics
        li 
             a(href="/api", data-hover="API") API
        li 
             a(href="/login", data-hover="Login") Login
